<p>Title:{{input value=@tutorial.title}}</p>
<p>Free:{{input type='checkbox' checked=@tutorial.free}}</p>
<p>VideoUrl:{{input value=@tutorial.video_url}}</p>
<p>Description:{{input value=@tutorial.description}}</p>